 .title{
  display:flex;
  justify-content:center;
}

#input{
  display:flex;
  justify-content:center;
}

.input{
    margin-left:10px;
}

.button {
  margin-left:10px;
}

.theResult{
  display:flex;
  justify-content:center;
}

body{
  background-color: lightblue;
}